* {
  margin: 0;
  padding: 0;
}

 body {
   background-color: grey;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow: hidden;
 }

.outer {
  border: 2px solid black;
  width: 400px;
  height: 400px;
  position: relative;
}

.inner {
  border: 1px solid black;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.innerinner {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.innerinnerinner {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
